# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
.venv/
venv/
env/
ENV/
.Python

# OS junk
.DS_Store
Thumbs.db

# IDE/editor config
.vscode/
.idea/

# Build/output artifacts
build/
dist/
*.egg-info/
*.manifest
*.spec
pip-log.txt


